@font-face {
  font-family: GothaProBol;
  src: url(/layout_1/font/Gotham/GothaProBol.otf);
}
@font-face {
  font-family: GothaProMed;
  src: url(/layout_1/font/Gotham/GothaProMed.otf);
}

.navbar-container:after{
	width: 10000px;
	border-bottom-color: #fff;
	border-bottom-width: 1px;
	border-bottom-style: solid; 
	content: " ";
	display: block;
	position: absolute;
	left: -4000px;
}
.navbar-container .nav-item.active{
	position: relative;
}
.navbar-container .nav-item.active a:after{
	width: 100%;
	border-bottom-color: #11749e;
	border-bottom-width: 7px;
	border-bottom-style: solid; 
	content: " ";
	display: block;
	position: absolute;
	margin-top: 29px;
	left: 0px
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link, 
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
	color: #fff;
	font-size: 20px;
}
.navbar .social-link{
	color: #fff;
	font-size: 20px;
}
.navbar #navbarNav li{
	padding: 0 10px;
}

.clear_mp{
	font-size: 0px;
	padding: 0
	margin: 0;
}

header{
	height: 800px;
	background: url("/layout_1/image/bg_header.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
}
header h1{
	margin-top: 290px;
	color: #fff;
	font-family: "GothaProBol";
	font-size: 140px;
	text-align: center;
	text-transform: uppercase;
}
header h3{
	color: #fff;
	font-family: "GothaProMed";
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 19px;
	color: #11749e;
}
header .scroll_down{
	position: absolute;
	bottom: 100px;
	color: #fff;
	text-align: center;
	left: calc(50% - 30px);
}
header .scroll_down a{
	height: 65px;
	width: 65px;
	border-color: #fff;
	border-style: solid;
	border-width: 1px;
	display: block;
	border-radius: 50%;
	position: relative;
	margin: 7px;
}
header .scroll_down a:after{
	height: 20px;
	width: 20px;
	border-bottom-color: #fff;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-right-color: #fff;
	border-right-style: solid;
	border-right-width: 3px;
	display: block;
	position: absolute;
	content: " ";
	top: 16px;
	left: 22px;
	transform: rotate(45deg);
}

.section_1{
	background: #11749e;
	position: relative;
	padding-bottom: 100px;
}
.section_1 .background_logo{
	position: absolute;
	color: #fff6;
	font-size: 160px;
	left: calc(50% - 60px);
	top: 25px;
	font-style: "roboto";
	font-weight: bold;
}
.section_1 h1{
	text-align: center;
	font-style: "GothaProMed";
	text-transform: uppercase;
	color: #fff;
	margin: 125px auto;
	font-size: 45px;
}

.section_1 .feature .sircl{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background: #2e85aa;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	font-size: 60px;
	padding-top: 30px;
}
.section_1 .feature h1{
	margin: 0; 
	font-size: 25px;
	margin-top: 20px
}
.section_1 .feature .description{
	color: #fff;
	font-style: "GothaProMed";
	text-align: center;
	margin-top: 20px;
	font-size: 15px;
}

.section_2{
	font-style: "GothaProMed";
	padding-top: 100px;
	padding-bottom: 100px;
	background: #222;
	color: #f3f3f3;
	position: relative;
}
.section_2 .item-element h2{
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 40px;
}
.section_2 .image{
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background-size: cover;
}

.section_2.rev{
	background: #f3f3f3;
	color: #222;
}
.section_2.rev .image{
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background-size: cover;
}


.section_3{
	position: relative;
	text-align: center;
	font-style: "GothaProMed";
}
.section_3 .background_logo{
	position: absolute;
	color: #2223;
	font-size: 160px;
	left: calc(50% - 60px);
	top: 25px;
	font-style: "roboto";
	font-weight: bold;
	text-transform: uppercase;
}
.section_3 h1{
	text-align: center;
	font-style: "GothaProMed";
	text-transform: uppercase;
	color: #222;
	margin: 125px 0 50px 0;
	font-size: 45px;
}
.section_3 .text{
	font-style: "GothaProMed";
	color: #222;
	font-size: 35px;
	margin-bottom: 30px;
}
.section_3 .project{
	margin-top: 50px;
}
.section_3 .project img{
	margin-bottom: 30px;
}
.section_3 .project a{
	color: #11749e;
	font-style: "GothaProBol";
	text-transform: uppercase;
	font-weight: bold;
}
.section_3 .project .description{
	font-style: "GothaProMed";
	color: #222;
}
.section_3 .project .item{
	margin-bottom: 100px;
}
.section_4{
	font-style: "GothaProMed";
	background-color: #11749e;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 160px;
}
.section_4 i{
	font-size: 80px; 
}
.section_5{
	font-style: "GothaProMed";
	padding-top: 100px;
	padding-bottom: 100px;
	color: #fff;
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url("/layout_1/image/bg_section_5.jpg");
}
.section_5 h1{
	padding-top: 100px;
	padding-bottom: 30px;
	font-size: 25px;
	text-transform: uppercase;
}
.section_5 .discription{

}
.section_5 .img{
	text-align: center;
}
.section_5 .list{
	margin-top: 50px;
}
.section_5 .list .item{
	margin-bottom: 20px;
	padding: 5px 10px;
	background: #11749e;
	text-transform: uppercase;
}
.section_6{
	position: relative;
	text-align: center;
	font-style: "GothaProMed";
}
.section_6 .background_logo{
	position: absolute;
	color: #2223;
	font-size: 230px;
	left: calc(50% - 65px);
	top: -38px;
	font-style: "roboto";
	font-weight: bold;
	text-transform: uppercase;
}
.section_6 h1{
	text-align: center;
	font-style: "GothaProMed";
	text-transform: uppercase;
	color: #222;
	margin: 125px 0 100px 0;
	font-size: 45px;
}
.section_6 .text{
	font-style: "GothaProMed";
	color: #222;
	font-size: 30px;
	margin-bottom: 50px;
}
.section_6 img{
	width: 100%;
	z-index: 50;
}
.section_6 .item{
	position: relative;
	margin-bottom: 120px;
}
.section_6 .item h1{
	color: #11749e;
	font-size: 20px;
	margin: 0 auto;
	padding: 0 auto;
	text-transform: uppercase;
}
.section_6 .item h3{
	font-size: 15px;
	margin: 0 auto;
	padding: 0 auto;
}
.section_6 .info{
	background: #fff;
	position: absolute;
	bottom: -30px;
	left: 30px;
	padding: 10px;
	width: calc(100% - 60px);
}